/*=============== FONTS ===============*/
@font-face {
    font-family: GraphikMedium;
    src: url("../fonts/GraphikMedium.otf");
    font-weight: 500;
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/*=============== HEADER & NAV ===============*/
.header {
    background: #181818;
    padding: 20px 39px 20px 30px;
}

.header .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.header .menu {
    justify-self: center;
}

/* .menu ul {
    display: flex;
    justify-content: space-evenly;
} */

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header li {
    display: inline-block;
}

.header li:not(:last-child) {
    margin-right: 31px;
}

.header a {
    display: grid;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.action-btn {
    margin-left: auto;
}

.button {
    color: white;
    width: 139px;
    padding: 20px;
    height: 52px;
    border: 1px solid #FFF;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.burger {
    display: none;
}

